@font-face {
	font-family: 'Fixel';
	src: url('FixelVariable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {*/
/*	font-family: 'Fixel';*/
/*	src: url('FixelVariableItalic.ttf') format('truetype');*/
/*	font-weight: normal;*/
/*	font-style: italic;*/
/*}*/